* ::-webkit-scrollbar {
  width: 10px;
  background: white;
}

* ::-webkit-scrollbar-thumb {
  background: #a3a3a1;
  border-radius: 5px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;
}

.box-container {
  display: flex;

  height: 80%;
  width: 70%;

  background: #ffffff;

  border-radius: 20px;
}

.box-info-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 70%;
  height: 100%;
}

.input-submit {
  width: 60%;

  padding: 12px;

  font-size: 17px;

  background: none;
  outline: none;

  border-radius: 5px;

  margin-bottom: 20px;

  color: #b2bec3;

  border: 1px solid #b2bec3;
}

.button-submit {
  width: 60%;

  margin-top: 20px;
  padding: 12px;

  border: none;
  outline: none;

  background: #fea6b5;
  color: white;

  font-weight: 600;

  border-radius: 5px;

  transition: background 0.3s;

  cursor: pointer;
}

.button-submit:hover {
  background: #e84393;
}

.icon-back {
  color: #fea6b5;

  margin-bottom: 10px;

  cursor: pointer;
}

.not-found-books {
  display: flex;
  align-items: center;
  flex-direction: column;

  height: 90%;
  width: 95%;

  margin: 0px 10px;
}

.not-found-books span {
  font-size: 30px;
  font-weight: 700;

  margin-bottom: 30px;

  color: #a3a3a1;
}

.not-found-books img {
  width: 70%;
}

.container-buttons-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 80%;
}

.container-buttons-info button {
  width: 40%;

  padding: 10px;

  background: #e84393;

  color: white;
  font-weight: 700;

  border-radius: 10px;

  border: none;
  outline: none;

  cursor: pointer;
}
