.body-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  background: #f9e9e8;
}

.box-info {
  display: flex;
  flex-direction: column;

  height: 80%;
  width: 80%;
}

.box-info span {
  font-size: 30px;
  font-weight: 600;

  color: #fea6b5;
}

.box-banner {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30%;
  height: 100%;

  border-radius: 0px 20px 20px 0px;

  background: #ffa5b5;
}

.box-banner img {
  width: 90%;

  cursor: pointer;

  transition: all 0.3s;
}

.box-banner img:hover {
  width: 95%;
}

.sub-title-login {
  font-size: 25px;
  font-weight: 600;

  color: #5d646e;

  margin-bottom: 40px;
}

.sing-in-text {
  font-size: 12px;
  font-weight: 500;

  color: #fea6b5;

  margin-top: 20px;

  transition: color 0.3s;

  cursor: pointer;
}

.sing-in-text:hover {
  color: #e84393;
}
